<!DOCTYPE html><!--HTML5 doctype-->
<html>
<head>
	<title>About us</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
	<style type="text/css">
		/* Prevent copy paste for all elements except text fields */
		*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
		input, textarea  { -webkit-user-select:text; }
	</style>
    <script>
        var title = "About us";
    </script>
	<script src='../intelxdk.js'></script>
	<script type="text/javascript">
		/* Intel native bridge is available */
		var onDeviceReady=function(){
		//hide splash screen
		intel.xdk.device.hideSplashScreen();
		};
		document.addEventListener("intel.xdk.device.ready",onDeviceReady,false);
	</script>
    <script src="../js/storageHelper.js"></script>
    <script src="../js/jquery-1.8.2.min.js"></script>
    <script src="../js/bind.polyfill.js"></script>
    <script src="../js/Tocca.js"></script>
</head>
<body>
    <section class="colorBase">
        <article class="rectangleBase1"></article>
        <article class="rectangleBase2"></article>
        <article class="rectangleBase3"></article>
        <article class="rectangleBase4"></article>
    </section>
    <section class="message">
        <h1></h1>
        <p></p>
        <button type="button" class="buttonMessage"></button>
    </section>
	<header>
        <p>pico</p>
        <p>y</p>
        <p>placa</p>
    </header>
    <section id="body">
        <article class="aboutUs">
            <p>Esta aplicación está desarrollada bajo tecnologías HTML5 y compilada con Intel XDK.</p>
            <br>
            <a href="http://www.w3.org/">
    <img src="../resources/images/html5-badge-h-css3-device-graphics-semantics-storage.png" width="261" height="64" alt="HTML5 Powered with CSS3 / Styling, Device Access, Graphics, 3D &amp; Effects, Semantics, and Offline &amp; Storage" title="HTML5 Powered with CSS3 / Styling, Device Access, Graphics, 3D &amp; Effects, Semantics, and Offline &amp; Storage">
    </a>
            <br><br>
            <p>Para mayor información, retroalimentación o informe de errores por favor contactar al correo <a href="mailto:camilo.rodriguezc@outlook.com">camilo.rodriguezc@outlook.com</a>.</p>
        </article>
    </section>
    <nav>
        <section class="menuButton"></section>
        <ul>
            <li class="home"><a rel="external" href="../index.html">Home</a></li>
            <li class="calendar"><a rel="external" href="../views/calendar.html">Calendario</a></li>
            <li class="active about"><a href="javascript:none()">About</a></li>
            <!--<li class="rateUs"><a href="views/rateus.html">Calificanos</a></li>-->
        </ul>
    </nav>
    <script src="../js/script.js"></script>
</body>
</html>
